.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.Code-Pane {
  flex-grow: 1;
}

.Preview-Pane {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
